/*----------Global----------*/
:root {
    --primary-color: #f74f36;
    --secondary-color: #001722;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 18px;
}

ul {
    padding: 0;
}


/*----------Header----------*/
#header {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--secondary-color);
    color: #FFF;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

.logo {
    max-width: 100px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-left: 10px;
}

.nav-menu {
    display: flex;
    gap: 35px;
}

.nav-menu > li {
    list-style-type: none;
}

.nav-menu > li > a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
}
.burger span {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        background: var(--secondary-color);
        flex-direction: column;
        width: 100px;
        max-width: 100%;
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        padding: 10px 0;
        gap: 10px;
    }
    .nav-menu.active {
        display: flex;
    }
    .nav-menu > li {
        margin: 10px 0;
        text-align: right;
    }
    .burger {
        display: flex;
    }
}


/*----------Main content----------*/
#main-content {
    padding: 115px 15px 15px 15px;
}

.welcome-banner {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.featured-products > * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
}

.product-item {
    position: relative;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex: 0 0 calc(25% - 20px); /* take the gap px away */
    min-width: 250px;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.product-item:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

@media screen and (max-width: 1200px) {
    .product-item {
        flex: 0 0 calc(33.333% - 20px);
    }
}
@media screen and (max-width: 840px) {
    .product-item {
        flex: 0 0 calc(50% - 20px);
    }
}
@media screen and (max-width: 570px) {
    .product-item {
        flex: 0 0 calc(100% - 20px);
    }
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-description {
    text-align: left;
}

.product-price {
    position: absolute;
    bottom: 15px;
    right: 20px;
    margin: 0;
    text-align: right;
    font-weight: bold;
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
}

#footer {
    position: relative;
    bottom: 0;
    background-color: var(--secondary-color);
    color: #FFF;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer a {
    color: #FFF;
}